<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPIRNG//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
    <bean id="triangle" class="com.training.springframe.Triangle">
    	<!-- in contrast to demo2 where each Point has own property (separate variables) -->
    	<!-- if there is a collection (ie list, maps) -->
    	<property name="points">
    	    <list>
    	        <ref bean="zeroPoint" /> <!-- type conversion happens, ref will be converted to Point -->
    	        <ref bean="point2" />
    	        <ref bean="point3" />
    	    </list>
    	</property>
    </bean>
    
    <!-- Object to populate the list points -->
    <bean id="zeroPoint" class="com.training.springframe.Point" >
        <property name="x" value="0" />
        <property name="y" value="0" />
    </bean>
    
    <bean id="point2" class="com.training.springframe.Point" >
        <property name="x" value="-20" />
        <property name="y" value="0" />
    </bean>
    
    <bean id="point3" class="com.training.springframe.Point" >
        <property name="x" value="20" />
        <property name="y" value="0" />
    </bean>
   
    
</beans>